{% extends "prvsBase/Menubase.html" %}
{% block panel %}
{%load static%}
    <div class="page-hd">
        <h1 class="page-hd-title">
            新建初筛指标
        </h1>
        <p class="page-hd-desc">当前策略：xxxxx</p>
    </div>
    <div class="page-bd-15">
        <div class="page-bd">
            <div class="weui-cells__title">策略组：筹码集中度</div>
            <ul class="collapse">
                <li class="js-show">
                    <div class="weui-flex js-category">
                        <div class="weui-flex__item">加减速指标(A/C),MACD...</div>
                        <i class="icon icon-35"></i>
                    </div>
                    <div class="page-category js-categoryInner">
                        <div class="weui-cell weui-cell_swiped" id="indicatorSelect">
                            <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <p id="indicatorName">选择指标</p>
                                    </div>
                                    <div class="weui-cell__ft">左滑删除</div>
                                </div>
                            </div>
                            <div class="weui-cell__ft">
                                <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                            </div>
                        </div>
                        <div class="weui-cell" id="addIndicatorButton" style="padding: 0px 0px;">
                            <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <a href="javascript:addNewIndicatorBtn()" class="weui-btn weui-btn_mini  bg-blue">新增指标</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>              
        <div class="weui-cells">
            <div class="weui-cell weui-cell_swiped" id="indicatorSelect">
                <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p id="indicatorName">选择指标</p>
                        </div>
                        <div class="weui-cell__ft">左滑删除</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                </div>
            </div>
            <div class="weui-cell" id="addIndicatorButton" style="padding: 0px 0px;">
                <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <a href="javascript:addNewIndicatorBtn()" class="weui-btn weui-btn_mini  bg-blue">新增指标</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_swiped" id="indicatorSelect">
                <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p id="indicatorName">选择指标</p>
                        </div>
                        <div class="weui-cell__ft">左滑删除</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                </div>
            </div>
            <div class="weui-cell" id="addIndicatorButton" style="padding: 0px 0px;">
                <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <a href="javascript:addNewIndicatorBtn()" class="weui-btn weui-btn_mini  bg-blue">新增指标</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    /* picker */
    $(function(){
        $('.collapse .js-category').click(function(){
            $parent = $(this).parent('li');
            if($parent.hasClass('js-show')){
                $parent.removeClass('js-show');
                $(this).children('i').removeClass('icon-35').addClass('icon-74');
            }else{
                $parent.siblings().removeClass('js-show');
                $parent.addClass('js-show');
                $(this).children('i').removeClass('icon-74').addClass('icon-35');
                $parent.siblings().find('i').removeClass('icon-35').addClass('icon-74');
            }
        });

    });
    indicatorsId = ["indicatorSelect"]; 
    stocksId = ["stockSelect"];
    var indicators = {{ indicators|safe }};
    function allSwipEventOn(){
        $('.delete-swipeout').click(function () {

            $(this).parents('.weui-cell').remove()
        })
        $('.close-swipeout').click(function () {
            $(this).parents('.weui-cell').swipeout('close')
        })
        $('.weui-cell_swiped').swipeout('open')
        $(document).on("swipeout-open",'.weui-cell_swiped',function(){
        //监听打开触发
        })
        $(document).on("swipeout-close",'.weui-cell_swiped',function(){
            //监听关闭触发
        })
    }

    function addNewIndicatorBtn(){
        if(indicatorsId.length== 1){
            curIndicatorId = indicatorsId[0];
            newIndicatorId = indicatorsId[0] + indicatorsId.length;
        }
        else{
            curIndicatorId = indicatorsId[0] + (indicatorsId.length-1);
            newIndicatorId = indicatorsId[0] + indicatorsId.length;
        }
        $("#"+curIndicatorId).after('<div class="weui-cell weui-cell_swiped" id="'+newIndicatorId+'"><div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);"><div class="weui-cell"><div class="weui-cell__bd"><p id="indicatorName'+indicatorsId.length+'">选择指标</p></div><div class="weui-cell__ft">左滑删除</div></div></div><div class="weui-cell__ft"><a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a></div></div>')
        indicatorsId.push(newIndicatorId)
        indicatorAddPicker(newIndicatorId,indicators);
        allSwipEventOn();
    }
    function addNewStockBtn(){
        if(stocksId.length == 1){
            curStockId = stocksId[0];
            newStockId = stocksId[0] + stocksId.length;
        }
        else{
            curStockId = stocksId[0] + (stocksId.length-1);
            newStockId = stocksId[0] + stocksId.length;
        }
        $("#"+curStockId).after('<div class="weui-cell weui-cell_swiped" id="'+newStockId+'"><div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);"><div class="weui-cell"><div class="weui-cell__bd"><p id="stockName'+stocksId.length+'">选择适用股票池</p></div><div class="weui-cell__ft">左滑删除</div></div></div><div class="weui-cell__ft"><a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a></div></div>')
        stocksId.push(newStockId)
        stockAddPicker(newStockId,indicators);
        allSwipEventOn();
    }
    function indicatorAddPicker(id,selectData){
        document.querySelector('#'+id).addEventListener('click', function (e) {
            weui.picker(selectData, {
                depth: 2,
                defaultValue: [0, 0],
                onChange: function (result) {
                //console.log(result);
                },
                onConfirm: function (result) {
                    $(e.target).html("指标:"+result[1]["label"]);
                    //e.srcElement.html("指标:"+result[1]["label"])
                    //console.log(indicatorIndex);
                },
                id: 'cascadePicker'
            });
        });
    }
    function stockAddPicker(id,selectData){
        document.querySelector('#'+id).addEventListener('click', function (e) {
            weui.picker(selectData, {
                depth: 2,
                defaultValue: [0, 0],
                onChange: function (result) {
                //console.log(result);
                },
                onConfirm: function (result) {
                    $(e.target).html("指标:"+result[1]["label"]);
                },
                id: 'cascadePicker'
            });
        });
    }
    indicatorAddPicker(indicatorsId[0],indicators);
    stockAddPicker(stocksId[0],indicators);
    allSwipEventOn();
</script>
</html>
{%load static%}
{% endblock %}