{% extends "prvsBase/Menubase.html" %}
{% block panel %}
{%load static%}
    <div class="page-hd">
        <h1 class="page-hd-title">
            新建初筛指标
        </h1>
        <p class="page-hd-desc">当前策略：{{strategyName}}</p>
    </div>
    <div class="page-bd-15">
        <div class="page-bd" name="group" style="display: none;">
            <div class="weui-cells__title" name="grouptitle">条件组1：<a href="javascript:void(0)" class="nameSetBtn" name="nameSetBtn">名称设置</a>&nbsp&nbsp<a href="javascript:void(0)" name="groupDelBtn">删除</a></div>
            <ul class="collapse">
                <li class="js-show">
                    <div class="weui-flex js-category" id="js-category">
                        <div class="weui-flex__item" name="indicatorTitle">指标组合结果</div>
                        <i class="icon icon-35" name="icon"></i>
                    </div>
                    <div class="page-category js-categoryInner">
                        <!--div class="weui-cell weui-cell_swiped indicatorSelectCell" name="indicatorSelectCell"-->
                        <div class="weui-cell weui-cell_swiped indicatorSelectCell" name="indicatorSelectCell"-->
                            <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd" name="select">
                                        <p name="indicatorName">选择指标</p>
                                    </div>
                                    <div class="weui-cell__ft"><a name="indicatorDelBtn">删除</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cell" style="padding: 0px 0px;">
                            <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <div  class="weui-btn weui-btn_mini  bg-blue newIndicatorBtn" name="newIndicatorBtn">新增指标</div>
                                        <div  class="weui-btn weui-btn_mini  bg-blue newIndicatorBtn" name="combineIndicatorBtn">指标条件组合</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0);" class="weui-btn weui-btn_mini bg-blue newGroupBtn" name="newGroupBtn">新增条件组</a>
        <a href="javascript:void(0);" class="weui-btn weui-btn_mini bg-blue combineGroupBtn" name="combineGroupBtn">条件组组合</a>
        <a href="javascript:void(0);" class="weui-btn weui-btn_mini bg-blue finishBtn" name="finish">完成并创建初筛指标</a>
        <div id="simulated-textarea" contenteditable="true" style="width: 300px; height: 100px; border: 1px solid #cccccc; white-space: pre-wrap; overflow: auto;"></div>
    </div>
<script type="text/javascript">
    //变量定义
    const simulatedTextarea = document.getElementById('simulated-textarea');  
    //simulatedTextarea.addEventListener('input', function() {    console.log(this.innerHTML);  });
    indicatorsId = []; 
    stocksId = ["stockSelect"];
    var indicators_col1 = {{ indicators_col1|safe }};
    var indicators_col2 = {{ indicators_col2|safe }};
    var indicators_col3 = {{ indicators_col3|safe }};
    var userid = "{{userid|safe}}";
    var strategyName = "{{strategyName|safe}}";
    groupIndex = [] //必须从小到大排列
    indicatorCombineDic = {}; //存储多个条件组的每个组内的指标组合结果
    curIndicatorCombineList = [];//单个条件组里的点击顺序。每次promot时要清空。
    groupCombine = "";
    //绑定折叠
    function carr (start, end) {
      return Array.from(new Array(end + 1).keys()).slice(start)
    }
    function bindCollapse(){
        var Collapses = $("div[name^='indicatorTitle']");
        $(Collapses).unbind('click').click(function(){
            if($(this).parent().parent().hasClass("js-show")){
                $(this).parent().parent().removeClass('js-show');
                $(this).next().removeClass('icon-35').addClass('icon-74');
            }
            else{
                $(this).parent().parent().addClass("js-show")
                $(this).next().removeClass('icon-74').addClass('icon-35');
            }
        });
    }
    function bindNewGroupBtn(){//这个用选择器通配、元素链实现会简单很多。
        $(".newGroupBtn").unbind("click").click(function(){
            var pageBd = $(".page-bd:first").clone();
            console.log(pageBd);
            $(this).before(pageBd);
            $(".page-bd:last").attr("style","");
            rearrange();
            reBindAll();
        });
    }
    function bindNewIndicatorBtn(){
        var newIndicatorBtns = $("div[name^='newIndicatorBtn']");
        $(newIndicatorBtns).unbind("click").click(function(){
            var selectCell = $(".indicatorSelectCell:first").clone();
            $(this).parent().parent().parent().parent().before(selectCell);
            rearrange();
            reBindAll()
        });
    }
    function bindconbineUnits(){//后面有时间需要重新实现，使用div替换textarea，使内容运算符能够更做颜色区分
        //绑定a标签事件,并实时生成运算表达式
        //先插入一个<div class="weui-dialog__bd">123</div>，占新一行
        var combineUnits = $(".weui-dialog__bd").find("a");
        for(i=0;i<combineUnits.length;i++){
            $(combineUnits[i]).unbind("click").click(function(){
                var textContent = $(".weui-textarea").html();
                if($(this).html()=="删除"){//
                    lastUnit = curIndicatorCombineList.pop();
                    if(lastUnit==undefined){
                        return;//说明删光了
                    }
                    else{
                        newtextContent = "";
                        for(i=0;i<curIndicatorCombineList.length;i++){ 
                            newtextContent = newtextContent + curIndicatorCombineList[i]+" ";
                            console.log(newtextContent)
                        }
                        $(".weui-textarea").html(newtextContent);
                    }
                }
                else{
                    curIndicatorCombineList.push($(this).html());
                    textContent = textContent + $(this).html()+" ";
                    var textContent = $(".weui-textarea").html(textContent);
                }
                        
            })
        }
    }
    function combineIndicatorBtn(){
        var combineIndicatorBtns = $("div[name^='combineIndicatorBtn']");
        $(combineIndicatorBtns).unbind("click").click(function(e){
            //点击组合时，先找title，然后选择器选出所有的indicator节点。并弹框进行组合条件。
            var abort = false;
            var conditions = []
            var selectCells = $(this).parent().parent().parent().parent().parent().children(".indicatorSelectCell");
            if(selectCells.length==1){
                alert("单个指标无需组合");
                return;
            }
            if($(this).parent().parent().parent().parent().parent().prev().children("div").html()!="指标组合结果"){
                if(!confirm("确定要重新组合指标条件?")){
                    return;
                }
            }
            groupRe = /(条件组\d+)：/
            groupRe.exec($(e.target).parent().parent().parent().parent().parent().parent().parent().prev().html());
            var groupname = RegExp.$1;
            var regexSelectCellClass = /(条件组\d+_select_\d+)/
            for(i=0;i<selectCells.length;i++){//先获取Cell的class，然后使用后代元素选择器找出所有的p和input，每个p+input为一个条件
                regexSelectCellClass.exec($(selectCells[i]).attr('class'));
                var selectCellClass = RegExp.$1;
                if($('.'+selectCellClass+' p').html()=="选择指标"){//存在指标未定义的
                    alert("存在未定义的指标，请先定义");
                    return;
                }
                if($('.'+selectCellClass+' input').length==1){
                    if($('.'+selectCellClass+' input').val()==""){//input的合法性校验后面再引入进来。
                        alert("存在待指定数值的内容未填写，请先填写");
                        return;
                    }
                    conditions.push($('.'+selectCellClass+' p').html()+$('.'+selectCellClass+' input').val());
                }
                else{//没有指定数值的select
                    conditions.push($('.'+selectCellClass+' p').html())
                }
            }
            text = "";
            for(i=0;i<conditions.length;i++){
                //拼接
                text = text + '<a class="weui-btn weui-btn_mini bg-blue">'+conditions[i]+'</a><bt/>'
            }
            text = text + '<div class="weui-dialog__content"></div><bt/><a class="weui-btn weui-btn_mini bg-green">或</a><a class="weui-btn weui-btn_mini bg-green">且</a><a class="weui-btn weui-btn_mini bg-green">非</a><a class="weui-btn weui-btn_mini bg-green">(</a><a class="weui-btn weui-btn_mini bg-green">)</a><a class="weui-btn weui-btn_mini bg-red">删除</a>'
            $.prompts({
                title: '点击条件进行组合选择',
                text: text,
                input: "",
                empty: false, // 是否允许为空
                onOK: function (input) {
                    //点击确认
                    $(e.target).parent().parent().parent().parent().parent().prev().children("div").html(input);
                    //更新条件dic
                    indicatorCombineDic[groupname] = curIndicatorCombineList;

                },
                onCancel: function () {
                    //点击取消
                }
            });
            curIndicatorCombineList = [];//生成prompts时清空。
            indicatorCombineDic[groupname] = [];//生成prompts时清空。
            bindconbineUnits()
                
        });
    }
    function combineGroupBtn(){
        $(".combineGroupBtn").unbind("click").click(function(e){
            var groupNames = $("a[name^='nameSetBtn']");
            text = "";
            if(groupNames.length==2){
                alert("只有一个条件组无需组合");
            }
            for(i=1;i<groupNames.length;i++){

                text = text + '<a class="weui-btn weui-btn_mini bg-blue">条件组'+i+'['+$(groupNames[i]).html()+']</a><bt/>'
            }
            text = text + '<div class="weui-dialog__content"></div><bt/><a class="weui-btn weui-btn_mini bg-green">或</a><a class="weui-btn weui-btn_mini bg-green">且</a><a class="weui-btn weui-btn_mini bg-green">非</a><a class="weui-btn weui-btn_mini bg-green">(</a><a class="weui-btn weui-btn_mini bg-green">)</a><a class="weui-btn weui-btn_mini bg-red">删除</a>'
            $.prompts({
                title: '点击条件进行组合选择',
                text: text,
                input: "",
                empty: false, // 是否允许为空
                onOK: function (input) {
                    //点击确认
                    $("#simulated-textarea").html(input);
                    //更新条件dic
                    groupCombine = input;

                },
                onCancel: function () {
                    //点击取消
                }
            });
            bindconbineUnits();

        })
    }
    function bindPicker(){
        var indicatorSelects = $("div[name^='select']");
        $(indicatorSelects).unbind("click").click(function(e){
            weui.picker(indicators_col1,indicators_col2,indicators_col3,{
                depth: 3,
                defaultValue: ['1', '1','1'],
                onChange: function (result) {
                    //console.log(typeof(result[1]));
                    //$(e.target).html("指标:"+result[0]+result[1]);
                },
                onConfirm: function (result) { //bug：如果从input改回其他指标，需要删除input
                    //如果是指定数值，把左侧加一个input出来
                    if($(e.target).parent().parent().children().length==3){//说明这时是之前已经选择过指定数值的，先删除原有的input
                        console.log("xxx")
                        $(e.target).parent().parent().children()[1].remove();
                    }
                    if(result[2]["label"]=="指定数值"){
                        $(e.target).parent().after('<div class="weui-cell__bd" name="select"><input id="js_input3" class="weui-input  weui-cell__control weui-cell__control_flex"  placeholder="请输入" value=""></div>')
                        $(e.target).html(result[0]["label"]+"  "+result[1]["label"]);
                    }
                    else{
                        $(e.target).html(result[0]["label"]+"  "+result[1]["label"]+"  "+result[2]["label"]);
                    }
                    
                    //e.srcElement.html("指标:"+result[1]["label"])
                    //console.log(indicatorIndex);
                },
                //id: 'cascadePicker'
                id:'multiPickerBtn'//这个只是保存选择状态的
            });
        });
    };
    function bindNameSetBtn(){ 
        $("a[name^='nameSetBtn']").unbind('click').click(function(e) {
                $.prompts({
                    title: "设置"+$(e.target).parent().html().split("：")[0]+"的名称",
                    //text: '内容文案',
                    input: $(e.target).html()=="名称设置"?"":$(e.target).html(),
                    empty: false, // 是否允许为空
                    onOK: function (input) {
                        $(e.target).html(input);
                    },
                    onCancel: function () {
                        //点击取消
                    }
                });
            })
    }
    function bindGroupDelBtn(){ 
        $("a[name^='groupDelBtn']").unbind('click').click(function(e) {
            $.confirm("确认删除["+$(e.target).parent().html().split("：")[0]+"]吗?", "确认删除?", function() {
                $(e.target).parent().parent().remove();
                rearrange();
                reBindAll();
            }, function() {
                    //取消操作
            });
        });
        
    }
    function bindIndicatorDelBtn(){ 
        $("a[name^='indicatorDelBtn']").unbind('click').click(function(e) {
            var text = "";
            var allTextDom = $(e.target).parent().parent().children(".weui-cell__bd");
            for(i=0;i<allTextDom.length;i++){
                if($(allTextDom[i]).has("p").length==1){
                    text = text + $(allTextDom[i]).children("p").html();
                }
                else{
                    text = text +" "+$(allTextDom[i]).children("input").val();
                }
                
            }
            $.confirm("确认删除["+text+"]吗?", "确认删除?", function() {
                $(e.target).parent().parent().parent().remove();
                rearrange();
                reBindAll();
            }, function() {
                    //取消操作
            });
        });
        
    }
    function reBindAll(){
        bindCollapse();
        bindNewGroupBtn();
        bindNewIndicatorBtn();
        bindPicker();
        bindNameSetBtn();
        bindGroupDelBtn();
        bindIndicatorDelBtn();
        combineIndicatorBtn();
        bindFinishBtn();
        combineGroupBtn()
    }
    function rearrange(){//下个迭代改进时，把每个元素加好id，减少后续一堆parent
        //重排组名
        var groupTitles = $(".weui-cells__title");
        console.log(groupTitles);
        for(i=0;i<groupTitles.length;i++){
            preTxt = $(groupTitles[i]).html();
            newTxt = preTxt.replace(/\d+：/i,i+"：")
            $(groupTitles[i]).html(newTxt)
        }

        //重排指标名,从上向下匹配搜搜，每个指标的select加一个 title_select_num的class
        var groupTitle = ""; //每一个select向上查title，一致则继续编号，不一致则重新编号
        var selectors = $(".indicatorSelectCell");
        var regexTitle = /(条件组\d+)：/
        var selectIndex = 0;
        for(i=0;i<selectors.length;i++){
            $(selectors[i]).removeClass(function (index, className) {
                return (className.match(/(^|\s)条件组\S+/g) || []).join(' ');
            })
            regexTitle.exec($(selectors[i]).parent().parent().parent().prev().html());
            var curTitle = RegExp.$1;
            console.log(curTitle)
            if(curTitle!=groupTitle){//第一个select，对title赋值，并自己编号取为0
                groupTitle = curTitle;
                selectIndex = 0;
            }
            $(selectors[i]).addClass(curTitle+"_select_"+selectIndex);
            selectIndex = selectIndex + 1;
        }
    }
    function commit(){
        var groupNames = $("a[name^='nameSetBtn']")
        var groupList = [];
        if(groupNames.length==2){
            groupCombine = "条件组1["+$(groupNames[1]).html()+"]"
            groupList = ["条件组1["+$(groupNames[1]).html()+"]"];
        }
        else{
            for(i=1;i<groupNames.length;i++){
                groupList.push("条件组"+i+"["+$(groupNames[i]).html()+"]")
            }
        }
        data = JSON.stringify({"name":strategyName,"userid":userid,"group":groupList,"indicators":indicatorCombineDic,"filter":groupCombine})
        console.log("post")
        $.post('newFilterCreate',data,function (res) {
                    console.log(res);
        })
    }
    function bindFinishBtn(){
        $(".finishBtn").unbind("click").click(function(){
            //单个指标的条件组进行单独获取。
            var pageBd = $(".page-bd");
            var regexTitle = /(条件组\d+)：/
            for(i=1;i<pageBd.length;i++){//跳过i=0,默认的page模板
                regexTitle.exec($(pageBd[i]).children(".weui-cells__title").html());
                var groupname = RegExp.$1;  
                console.log($(pageBd[i]).find(".indicatorSelectCell"))
                if($(pageBd[i]).find(".indicatorSelectCell").length==1){//只有一个指标的条件组
                    console.log("1 indi")
                    if($(pageBd[i]).find("input").length==1){//说明有input
                        if($(pageBd[i]).find("p").html()=="选择指标" || $(pageBd[i]).find("input").val()==""){
                            console.log($(pageBd[i]).find("p").html())
                            console.log($(pageBd[i]).find("input").val())
                            alert("当前条件组"+i+"存在未选择的指标或未输入的数值");
                        }
                        console.log("1 input")
                        console.log($(pageBd[i]).find("input").val());

                        indicatorCombineDic[groupname] = [$(pageBd[i]).find("p").html()+" "+$(pageBd[i]).find("input").val()];
                    }
                    else{
                        if($(pageBd[i]).find("p").html()=="选择指标"){
                            alert("当前条件组"+i+"存在未选择的指标");
                        }
                        console.log("not input")
                        indicatorCombineDic[groupname] = [$(pageBd[i]).find("p").html()];
                    }
                }
            }
            //判断条件组名称是否定义
            var groupnames = $('a[name=nameSetBtn]')
            for(i=1;i<groupnames.length;i++){
                if($(groupnames[i]).html()=="名称设置"){
                    alert("条件组"+i+"未设置名称")
                }
            }
            commit()
        })
    }
    $(document).ready(function(){ 
        var pageBd = $(".page-bd").clone();
        $(".newGroupBtn").before(pageBd);
        $(".page-bd:last").attr("style","");
        rearrange();
        reBindAll();
        //setInterval("bindconbineUnits()",5000);
    });  

</script>
</html>
{%load static%}
{% endblock %}