{% extends "prvsBase/base.html" %}
{% block menu %}
{% load static %}
<a href="/monitor" id="shop_index" class="weui-tabbar__item">
    <span style="display: inline-block;position: relative;">
        <img src="{%static 'icons/prvs/monitor.png'%}" alt="" class="weui-tabbar__icon">
    </span>
    <p class="weui-tabbar__label">Monitor Setting</p>
</a>
</a>
<a href="/strategy" id="management" class="weui-tabbar__item">
    <img src="{%static 'icons/prvs/strategy.png'%}" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">Strategy</p>
</a>
<a href="/tradeBack" id="management" class="weui-tabbar__item">
    <img src="{%static 'icons/prvs/tradeback.png'%}" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">Tradeback</p>
</a>
<!--a href="/personal?code={{code}}" id="join" class="weui-tabbar__item"></a-->
<a href="/personal" id="join" class="weui-tabbar__item">
    <img src="{%static 'icons/prvs/personal.png'%}" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">Personal Center</p>
</a>
<script>
</script>
{%endblock%}