{% extends "prvsBase/Menubase.html" %}
{% block panel %}
{%load static%}

    <div class="page-hd">
        <h1 class="page-hd-title">
            新建策略模型
        </h1>
        <p class="page-hd-desc">Swipeout</p>
    </div>
    <div class="page-bd-15">
        <div class="timeline">
            <ul>
                <li class="timeline-item">
                    <div class="timeline-item-color timeline-item-head-first"><i class="timeline-item-checked   weui-icon-success-no-circle"></i>
                    </div>
                    <div class="timeline-item-tail"></div>
                    <div class="timeline-item-content">
                        <h4 class="recent">
                            <label for="js_input3" class="weui-cell weui-cell_active weui-cell_wrap">
                                <div class="weui-cell__hd">
                                  <span class="weui-label">模型名称</span>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="js_input3" class="weui-input  weui-cell__control weui-cell__control_flex"  placeholder="请输入" value="">
                                </div>
                            </label>  
                        </h4>
                        <p class="recent">说明：名称规格要求</p></div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-color timeline-item-head"></div>
                    <div class="timeline-item-tail"></div>
                    <div class="timeline-item-content">
                        <h4>
                            <div class="weui-cell weui-cell_swiped" id="indicatorSelect">
                                <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p id="indicatorName">选择指标</p>
                                        </div>
                                        <div class="weui-cell__ft">左滑删除</div>
                                    </div>
                                </div>
                                <div class="weui-cell__ft">
                                    <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                                </div>
                            </div>
                        </h4>
                        <p>2016-04-16 10:23:00</p></div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-item-color timeline-item-head"></div>
                    <div class="timeline-item-tail hide"></div>
                    <div class="timeline-item-content"><h4> 商家正在通知快递公司揽件</h4>
                        <p>2016-04-15 9:00:00</p></div>
                </li>
            </ul>
        </div>


    </div>

<script type="text/javascript">
    /* picker */
    indicatorsId = ["indicatorSelect"]; 
    stocksId = ["stockSelect"];
    var indicators = {{ indicators|safe }};
    function allSwipEventOn(){
        $('.delete-swipeout').click(function () {

            $(this).parents('.weui-cell').remove()
        })
        $('.close-swipeout').click(function () {
            $(this).parents('.weui-cell').swipeout('close')
        })
        $('.weui-cell_swiped').swipeout('open')
        $(document).on("swipeout-open",'.weui-cell_swiped',function(){
        //监听打开触发
        })
        $(document).on("swipeout-close",'.weui-cell_swiped',function(){
            //监听关闭触发
        })
    }

    function addNewIndicatorBtn(){
        if(indicatorsId.length== 1){
            curIndicatorId = indicatorsId[0];
            newIndicatorId = indicatorsId[0] + indicatorsId.length;
        }
        else{
            curIndicatorId = indicatorsId[0] + (indicatorsId.length-1);
            newIndicatorId = indicatorsId[0] + indicatorsId.length;
        }
        $("#"+curIndicatorId).after('<div class="weui-cell weui-cell_swiped" id="'+newIndicatorId+'"><div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);"><div class="weui-cell"><div class="weui-cell__bd"><p id="indicatorName'+indicatorsId.length+'">选择指标</p></div><div class="weui-cell__ft">左滑删除</div></div></div><div class="weui-cell__ft"><a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a></div></div>')
        indicatorsId.push(newIndicatorId)
        indicatorAddPicker(newIndicatorId,indicators);
        allSwipEventOn();
    }
    function addNewStockBtn(){
        if(stocksId.length == 1){
            curStockId = stocksId[0];
            newStockId = stocksId[0] + stocksId.length;
        }
        else{
            curStockId = stocksId[0] + (stocksId.length-1);
            newStockId = stocksId[0] + stocksId.length;
        }
        $("#"+curStockId).after('<div class="weui-cell weui-cell_swiped" id="'+newStockId+'"><div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);"><div class="weui-cell"><div class="weui-cell__bd"><p id="stockName'+stocksId.length+'">选择适用股票池</p></div><div class="weui-cell__ft">左滑删除</div></div></div><div class="weui-cell__ft"><a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a></div></div>')
        stocksId.push(newStockId)
        stockAddPicker(newStockId,indicators);
        allSwipEventOn();
    }
    function indicatorAddPicker(id,selectData){
        document.querySelector('#'+id).addEventListener('click', function (e) {
            weui.picker(selectData, {
                depth: 2,
                defaultValue: [0, 0],
                onChange: function (result) {
                //console.log(result);
                },
                onConfirm: function (result) {
                    $(e.target).html("指标:"+result[1]["label"]);
                    //e.srcElement.html("指标:"+result[1]["label"])
                    //console.log(indicatorIndex);
                },
                id: 'cascadePicker'
            });
        });
    }
    function stockAddPicker(id,selectData){
        document.querySelector('#'+id).addEventListener('click', function (e) {
            weui.picker(selectData, {
                depth: 2,
                defaultValue: [0, 0],
                onChange: function (result) {
                //console.log(result);
                },
                onConfirm: function (result) {
                    $(e.target).html("指标:"+result[1]["label"]);
                },
                id: 'cascadePicker'
            });
        });
    }
    indicatorAddPicker(indicatorsId[0],indicators);
    stockAddPicker(stocksId[0],indicators);
    allSwipEventOn();
</script>
</html>
{%load static%}
{% endblock %}